# This is a template file for the .env file used to store secrets.
# This file doesn't contain secrets and can be safely pushed to the repo.
#
# To use Julius, you need to create a file named ".env" in this directory
# and copy the contents of "template.env" to it.
#
# Before running the program, all placeholder values should be replaced with actual values.

# Runtime database user connection string
DATABASE_APP="username:password@tcp(localhost:3306)/julius"
